.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding-top: 5rem;
  background-image: url("../../resources/background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.line {
  height: 5rem;
  border: 2px #25c16f solid;
}

.logo-text {
  font-size: 2.5rem;
  font-weight: 400;
  color: #183247;
}

.welcome-text {
  font-size: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  color: #4d4d4d;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-width: 15rem;
}

.label {
  font-size: 1.1rem;
  font-weight: 200;
  padding: 0.5rem 0;
}

.login-input {
  min-height: 2.5rem;
  min-width: 20rem;
  text-indent: 0.5rem;
}

.login-input:placeholder-shown {
  font-family: "Poppins", sans-serif;
  border: 1px solid #25c16f;
  outline: none;
}

.btn-login {
  background: #25c16f;
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  min-height: 2rem;
  letter-spacing: 0.1rem;
}

.login-demo {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 300;
  margin-top: 0.5rem;
}

/* Logo spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile responsive*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .logo-container {
    width: 22rem;
  }
  .welcome-text {
    text-align: center;
  }
}
